/* @font-face {
    font-family: 'Object Sans';
    src: url('fonts/Object-Sans/ObjectSans-ThinSlanted.woff2') format('woff2'),
        url('fonts/Object-Sans/ObjectSans-ThinSlanted.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Object Sans';
    src: url('fonts/Object-Sans/ObjectSans-HeavySlanted.woff2') format('woff2'),
        url('fonts/Object-Sans/ObjectSans-HeavySlanted.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Object Sans';
    src: url('fonts/Object-Sans/ObjectSans-Regular.woff2') format('woff2'),
        url('fonts/Object-Sans/ObjectSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Object Sans';
    src: url('fonts/Object-Sans/ObjectSans-Bold.woff2') format('woff2'),
        url('fonts/Object-Sans/ObjectSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Object Sans Slanted';
    src: url('fonts/Object-Sans/ObjectSans-BoldSlanted.woff2') format('woff2'),
        url('fonts/Object-Sans/ObjectSans-BoldSlanted.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Object Sans Slanted';
    src: url('fonts/Object-Sans/ObjectSans-Slanted.woff2') format('woff2'),
        url('fonts/Object-Sans/ObjectSans-Slanted.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Object Sans';
    src: url('fonts/Object-Sans/ObjectSans-Heavy.woff2') format('woff2'),
        url('fonts/Object-Sans/ObjectSans-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
} */
