/* body {
  max-width: 1440px;
  margin: auto;
} */

.body-top-pad {
  padding-top: 41px;
}

.bg-offwhite {
  background-color: #E4E2DB;
}

.bg-white {
  background-color: #FFF;
}

.bg-black {
  background-color: #000;
}

.txt-white {
  color: #FFF important;
}

.testing {
  font-family: 'Object Sans', sans-serif;
}

/* .logo {
  font-family: 'Object Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
} */

.logo {
  /* height: 28px;
  width: 620px; */
  color: #E4E2DB;
  font-family: "Degular Text", sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
}

.banner {
  /* height: 216px;
  width: 940px; */
  color: #E4E2DB;
  font-family: "Degular Display", sans-serif;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 72px;
  text-transform: uppercase;

}

.banner-img {
  display: inline-block;
  *display: inline; /* for older IE */
  *zoom: 1; /* for older IE */
  height: 0.8em;
  /* width: auto; */
  width: 2.2em;
  vertical-align: baseline;

}

.banner-container {
  padding-top: 15rem;
  padding-bottom: 5rem;
}

.socialicons {
  padding-right: 25px;
}

@media (min-width: 768px) {
  .banner-link {
    text-align: left!important
  }
  .banner-social {
    text-align: left!important
  }
}

.definition {
  font-family: 'Object Sans', sans-serif;
  font-weight: normal;
  /* text-transform: uppercase; */
  font-size: 30px;
  line-height: 135%;
}

.snippet-img {
  display: inline-block;
  *display: inline; /* for older IE */
  *zoom: 1; /* for older IE */
  height: 3em;
  /* width: auto; */
  width: 6em;
  vertical-align: baseline;

}

::-webkit-scrollbar {display:none;}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 4px;
  position: fixed;
  top: 0px;
  z-index: 10000;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 2px;
  background: #D9FA59;
  width: 0%;
  border-style: solid;
  border-width: thin;
  border-color: #D9FA59;
}


.btn-outline-green {
  color: #D9FA59;
  border-color: #D9FA59;
}

.btn-outline-green:hover {
  color: black;
  background-color: #D9FA59;
}

mark {
  background-color: #D9FA59;
  color: black;
  padding: 0 0.06em;
}

#mainbanner {
  background: url('../img/InitialMoment_PicBG_Div.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg-action {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg-action1 {
  background: url('../img/JPGs/Action1_Landing_Img@1x.jpg');
}

#bg-action2 {
  background: url('../img/JPGs/Action2_Landing_Img@1x.jpg');
}

#bg-action3 {
  background: url('../img/JPGs/Action3_Landing_Img@1x.jpg');
}

.fill {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: visible;
}
.fill img {
    flex-shrink: 0;
    width: 50vw;
    /* min-width: 100%;
    min-height: 100% */
}

.fill-fit img {
    flex-shrink: 0;
    min-width: 100% !important;
    min-height: 100% !important
}

.fill-left {
    direction: rtl;
}

@media only screen and (max-width: 768px) {
  .fill img {
    width: 100vw;
  }
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.bg-gradient {
    background: linear-gradient(to bottom, black 0%, rgba(0,0,0,0) 100%);
}

.banner-sub {
  height: 40px;
  width: 596px;
  color: #E4E2DB;
  font-family: "Degular Text", sans-serif;
  font-size: 33px;
  letter-spacing: 0;
  line-height: 40px;
  font-weight: 300;
}

.subhead {
  height: 21px;
  width: 220px;
  color: #000000;
  font-family: "Degular Text", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21px;
  text-transform: uppercase;

}

.text2 {
  height: 200px;
  width: 940px;
  color: #000000;
  font-family: "Degular Text", sans-serif;
  font-weight: 300;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 40px;
}

.action-title {
  /* height: 216px;
  width: 380px; */
  color: #E4E2DB;
  font-family: "Degular Display", sans-serif;
  text-transform: uppercase;

  font-size: 58px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 72px;
}

#pledgebox {
  background: url('../img/JPGs/Pledge_Img@1x.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pledge-info {
  margin-top: auto;
margin-bottom: auto;
}

.pledge-desc {
  height: 128px;
  width: 300px;
  color: #E4E2DB;
  font-family: "Degular Text", sans-serif;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 32px;
}

.underline-btn {
  /* text-decoration: underline; */
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid;
  color: inherit;
}

.underline-btn:hover {
  color: #D9FA59;
  border-bottom: 3px solid;
  text-decoration: none;

}

.hiddenclass {
  visibility: hidden;
}

.footer-icon {
  color: #E4E2DB;
  font-family: "Degular Display", sans-serif;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 52px;
}

.top-btn {
  color: #D9FA59;
  font-family: "Degular Display", sans-serif;
  /* text-transform: uppercase; */
  font-weight: bold;
  /* font-size: 35px; */
  /* letter-spacing: 0; */
  /* line-height: 52px; */
  text-align:center;

}

.pledgesticker {
  z-index: 1000;
  position: fixed;
  bottom: 10%;
  right: 10%;
  width: 160px;
}

.action-container {
  text-transform: uppercase;
  padding-top: 300px;
}

.actioncard {

  background-color: black;
  /* margin-bottom: -200px; */
  border: 1px solid white;
}

.quotebox {
  word-wrap: break-word;
  /* text-transform: uppercase; */
}

.quoteperson {
  white-space:nowrap;
  color: #E4E2DB;
  font-family: "Degular Text", sans-serif;
  font-weight: 300;
  font-size: 22px;
}

.action-banner {
  max-height: 625px;
}

@media only screen and (max-width: 768px) {
  .action-banner {
    max-height: 850px;
  }
}

.action-article {
  padding-top: 75px;
}

.action-subhead {

color: #E4E2DB;
font-family: "Degular Text", sans-serif;
font-size: 43px;
font-weight: bold;
letter-spacing: 0;
line-height: 52px;
text-transform: uppercase;

}

.action-text {
  color: #E4E2DB;
font-family: "Degular Text", sans-serif;
font-size: 24px;
font-weight: 300;
letter-spacing: 0;
line-height: 32px;
}

.action-emphasis{
  color: #E4E2DB;
  font-weight: 300;
  font-family: "Degular Text", sans-serif;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 52px;
}
