.body-top-pad {
  padding-top: 41px;
}

.bg-offwhite {
  background-color: #DBDDD8;
}

.bg-white {
  background-color: #FFF;
}

.bg-black {
  background-color: #000;
}

.txt-white {
  color: #FFF important;
}

.testing {
  font-family: 'Object Sans', sans-serif;
}

.logo {
  font-family: 'Object Sans', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}
