.body-top-pad {
  padding-top: 41px;
}

.bg-offwhite {
  background-color: #DBDDD8;
}

.bg-white {
  background-color: #FFF;
}

.bg-black {
  background-color: #000;
}

.txt-white {
  color: #FFF important;
}

.testing {
  font-family: 'Object Sans', sans-serif;
}

.logo {
  font-family: 'Object Sans', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}

.banner {
  font-family: 'Object Sans', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 105%;
}

.banner-img {
  display: inline-block;
  *display: inline; /* for older IE */
  *zoom: 1; /* for older IE */
  height: 0.8em;
  /* width: auto; */
  width: 1.6em;
  vertical-align: baseline;

}

.banner-container {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}

@media (min-width: 768px) {
  .banner-link {
    text-align: left!important
  }
  .banner-social {
    text-align: right!important
  }
}

.definition {
  font-family: 'Object Sans', sans-serif;
  font-weight: normal;
  /* text-transform: uppercase; */
  font-size: 30px;
  line-height: 135%;
}
